<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="cadastre">
    <mat-card-header>
      <mat-card-title>Cadastro</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="fill">
            <input matInput placeholder="Nome" formControlName="Name">
            <mat-error *ngIf="addressForm.controls['Name'].hasError('required')">
              O nome é <strong>obrigatório</strong>!
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field>
            <mat-label>Insira seu email</mat-label>
            <input matInput placeholder="pat@example.com" formControlName="email">
            <mat-error *ngIf="addressForm.controls['email'].hasError('required')">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="fill">
            <input matInput placeholder="Telefone" mask="(00) 0000-0000" formControlName="telefone">
            <mat-error *ngIf="addressForm.controls['telefone'].hasError('required')">
              Telefone é <strong>obrigatório</strong>!
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="fill">
            <input matInput placeholder="Senha" type="password" formControlName="senha">
            <mat-error *ngIf="addressForm.controls['senha'].hasError('required')">
              Senha é <strong>obrigatório</strong>!
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="fill">
            <input matInput placeholder="CPF" mask="000.000.000-00" formControlName="cpf">
            <mat-error *ngIf="addressForm.controls['cpf'].hasError('required')">
              CPF é <strong>obrigatório</strong>!
            </mat-error>
            <mat-error *ngIf="addressForm.controls['cpf'].getError('cpfNotValid')">
              CPF não é <strong>Valido</strong>!
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Data de Nascimento</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dataNascimento">
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>      
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" [disabled]="!addressForm.valid" type="submit">Cadastrar</button>
    </mat-card-actions>
  </mat-card>
</form>