/* body{
    font-weight: 400;
    font-family: Lato, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 2.2em;
    color: #818181;
    margin: 0;
}

header{
    background-color: #1e74f4;
} */

/* header p{
    color:#ffffff;
} */

/* section, footer{
    margin: 40px;
} */

h1{
    font-size: 63px;
    color: #ffffff;
}

h2{
    font-size: 54px;
    /* text-transform: uppercase; */
    color: #303030;
    font-weight: 600;
}

.carousel-caption h5{
    font-size: 80px;
    color: #559af3;
    text-shadow: 2px 2px 2px black;
}

/* nav li a{
    padding: 10px;
    color: white;
    text-decoration: none;
}

nav li{
    float: left;
}

nav ul{
    float: right;
    list-style: none;
}

nav{
    font-size: 12px;
    letter-spacing: 4px;
    height: 50px;
    background-color: #4acff8;
    padding-right: 40px;
} */

/* table{
    width: 100%;
}

table td{
    color: #303030;
    padding: 5px;
}

table tr:nth-child(even){
    background-color: #e9e9e9;
}

table tr:nth-child(odd){
    background-color: #bdbdbdbd;
}

table thead th{
    background-color: #4acff8;
    color: white;
} */

/* #pacotes .figuras figure{
    display: inline-block;
}

#pacotes .figuras, #pacotes .videos{
    text-align: center;
} */